
*.iml
*.iws
*.ipr
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/migrations.xml
.idea/render.experimental.xml


.gradle/
gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar.original
gradle.properties
gradle-daemon-jvm.properties


build/
app/build/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.dex
*.class


local.properties
keystore.properties
*.jks
*.keystore
*.key

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# --- Logs ---
*.log
*.hprof
logs/

# --- Other ---
*.tmp
*.temp
*.bak
*.swp
*~


.kotlin/
kotlin/

.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


code-source*.txt
tree.txt
*.zip
*.rar
*.7z